[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
pyyaml = "*"
opencv-python = "*"
matplotlib = "*"
numpy = "*"
open3d = "*"
scikit-image = "*"
tensorboard = "*"
trimesh = "*"
pymcubes = "*"

[dev-packages]

[requires]
python_version = "3.10"
